{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div  class="container-fluid">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Вхід
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Увійти</button>
            </div>
        </form>
        <hr>
        <div class="border-top pt-3">
            <small class="text-muted">Ви ще не маєте акаунт? <a class="ml-2" href="{% url 'register' %}">Створити</a></small>
        </div>
    </div>
{% endblock %}