{% load static %}
<html>
    <head>
        <title>Курс валют в Україні!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <!-- This is my header! -->
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="http://valentyn321.pythonanywhere.com/" class="navbar-brand">СвіжийКурс!</a>

            </div>


    <!-- This is the end of my header! -->

    <!-- This is my menu under the header! -->
    <div>
        <ul class="nav navbar-nav">
            <li class="activate"><a href="http://valentyn321.pythonanywhere.com/">Головна</a></li>
            <li class="activate"><a href="what_rate">Дізнатись курс</a></li>
            <li class="activate"><a href="#">Про нас</a></li>
        </ul>
    </div>
            </div>
    </nav>

    <!-- This is the end of my menu under the header! -->

<!--

    <div class="page-header">
        <h1><a href="/">Найсвіжіший курс валют!</a></h1>
        {% if user.is_authenticated %}
        <a href="{% url 'what_rate' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %} -->
    </div>
    <div>
    <div>
        <div> <!--class="row"-->
            <div class="col-md-8 col-md-offset-2">
            {% block content %}
            {% endblock %}
                </div>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>