{% load static %}
<html>
    <head>
        <title>Курс валют в Україні!</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">Найсвіжіший курс валют!</a></h1>
        {% if user.is_authenticated %}
        <a href="{% url 'what_rate' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
    </div>
    <div>
    <div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            {% block content %}
            {% endblock %}
                </div>
            </div>
        </div>
    </div>

    </body>
</html>