{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Курс валют в Україні!</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <link rel="stylesheet" href="{% static 'css/styles.css' %}"  type="text/css">
    </head>

    <body>
   <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
   		<div class="container-fluid">
   			<a href="http://valentyn321.pythonanywhere.com/" class="navbar-brand"><img src="../static/img/logo.png"></a>
   			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
   				<span class="navbar-toggler-icon"></span>
   			</button>
   			<div class="collapse navbar-collapse" id="navbarResponsivе">
   				<ul class="navbar-nav ml-auto">
   					<li class="nav-item active">
   						<a href="http://valentyn321.pythonanywhere.com/" class="nav-link">Головна сторінка</a>
   					</li>

					{% if user.is_authenticated %}
						<li class="nav-item">
							<a href="{% url 'what_rate' %}" class="nav-link">Дізнатись курс!</a>
						</li>
						<li class="nav-item">
							<div class="row">
							<a href="{% url 'profile' %}" class="nav-link">{{ user.username }} <img  width="25px" height="25px" class="rounded-circle " src="{{ user.profile.image.url }}"></a>
							</div>
						</li>
						<li class="nav-item">
							<a href="{% url 'logout' %}" class="nav-link">Вийти</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a href="{% url 'login' %}" class="nav-link">Увійти</a>
						</li>
						<li class="nav-item">
							<a href="register" class="nav-link">Зареєструватись</a>
						</li>
					{% endif %}
   				</ul>
   			</div>

   		</div>
   </nav>



   {% if messages %}
   {%  for message in messages %}
   <div class="alert alert-{{message.tags}}">
	   {{message}}
   </div>
   {% endfor %}
   {% endif %}
   {% block content %}
   {% endblock %}
                  	<footer class="container-fluid">
   		<div class="container">
   			<div class="row padding text-center">
   				<div class="col-12">
   					Цей сайт є тестовим проектом, контакти:
   				</div>
			</div>
				<hr>

   				<div class="col-12 social padding text-center">
   					<a href="https://www.instagram.com/vcherkasov17/?hl=uk"><i class="fab fa-instagram"></i></a>
   					<a href="https://web.telegram.org/"><i class="fab fa-telegram"></i></a>
   				</div>

   		</div>
   	</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
    {% block add_script %}{% endblock %}
</html>