{% extends 'main/base.html' %}


{% block content %}
{% load staticfiles %}
<div  class="padding-top">
    <h1 class="text-center">Дізнатись курс!</h1>
</div>
<p class="text-center" class="text-primary"><mark>На данний момент досупні лише: USD/UAH, EUR/UAH, RUB/UAH, BTC/UAH</mark></p>
<div class="container-fluid">
	
	<form method="POST" id="form" > 
		{% csrf_token %}
		<select name='name' class="form-control form-control-lg" id='select'>
 			<option value="USD/UAH">USD/UAH</option>
 			<option value="EUR/UAH">EUR/UAH</option>
 			<option value="RUB/UAH">RUB/UAH</option>
 			<option value="BTC/UAH">BTC/UAH</option>
		</select>
		<h1 id="form.result" >Купівля: {{ purchase }}</h1>
		<h1 id="sell" >Продаж: {{ selling }}</h1>
		<button id="check" class="btn btn-primary">Дізнатись курс!</button>
	</form>
		
</div>

{% endblock %}
